/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Assurez-vous que le corps prend toute la largeur */
    overflow-x: hidden; /* Évite le défilement horizontal */
}